spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hospital_db
    username: postgres
    password: postgres
  sql:
    init:
      mode: always

springdoc:
  swagger-ui:
    path: /swagger-ui.html
